BASE_URL=https://hb-staging-pos.onrender.com
OTP_SECRET=F4RDW2V4LKFK6VCZ4N63ZKELVHZSTDO7
// Super Admin 
EMAIL=ace@usehitch.com
PASSWORD="91366Hh812345@"
// LO
EMAIL_LO=ace34@mailinator.com
PASSWORD_LO="!DN3aMlF4#6nQkQY"
